In [2]:
import pandas as pd

In [3]:
df_discount_report =pd.read_excel('../../data/processed/Ip_Discount_Report.xlsx')

In [4]:
df_discount_report.head()

,Unnamed: 0,BILLNO,BILL TYPE,BILL DATE,IPID,PATIENT NAME,BILLAMOUNT,DEPOSIT,RECEIPT,DISCOUNT,REFUND,TOTAL AMOUNT,INSURANCE NAME
0,0,BILL0001,Credit,2021-09-17 12:28:09,1001,PN1,78321,20000,4875,0.0,14660,38786.0,ADHITYA BIRLA HEALTH INSURANCE LTD
1,1,BILL0002,Credit,2021-09-29 10:49:07,1002,PN2,210272,150000,50137,0.0,180444,-170309.0,ADHITYA BIRLA HEALTH INSURANCE LTD
2,2,BILL0003,Credit,2021-11-12 11:29:50,1003,PN3,349015,20000,21700,0.0,0,302151.0,ADHITYA BIRLA HEALTH INSURANCE LTD
3,3,BILL0004,Credit,2021-07-26 13:12:38,1004,PN4,39272,5000,3600,0.0,2147,28525.0,ADITYA BIRLA HEALTH INSURANCE CO
4,4,BILL0005,Credit,2021-08-09 15:53:10,1005,PN5,680736,50000,166387,14350.0,21610,428389.0,ADITYA BIRLA HEALTH INSURANCE CO

In [5]:
df_discount_report = df_discount_report.drop(['Unnamed: 0'],axis=1)

In [6]:
df_discount_report.head()

,BILLNO,BILL TYPE,BILL DATE,IPID,PATIENT NAME,BILLAMOUNT,DEPOSIT,RECEIPT,DISCOUNT,REFUND,TOTAL AMOUNT,INSURANCE NAME
0,BILL0001,Credit,2021-09-17 12:28:09,1001,PN1,78321,20000,4875,0.0,14660,38786.0,ADHITYA BIRLA HEALTH INSURANCE LTD
1,BILL0002,Credit,2021-09-29 10:49:07,1002,PN2,210272,150000,50137,0.0,180444,-170309.0,ADHITYA BIRLA HEALTH INSURANCE LTD
2,BILL0003,Credit,2021-11-12 11:29:50,1003,PN3,349015,20000,21700,0.0,0,302151.0,ADHITYA BIRLA HEALTH INSURANCE LTD
3,BILL0004,Credit,2021-07-26 13:12:38,1004,PN4,39272,5000,3600,0.0,2147,28525.0,ADITYA BIRLA HEALTH INSURANCE CO
4,BILL0005,Credit,2021-08-09 15:53:10,1005,PN5,680736,50000,166387,14350.0,21610,428389.0,ADITYA BIRLA HEALTH INSURANCE CO

In [7]:
df_discount_report.to_excel('../data/final/Ip_Discount_Report_Final.xlsx')